coeus-impl/src/main/resources/org/kuali/kra/printing/schema/SubcontractFdpReports.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   - Copyright © 2005-2018 Kuali, Inc.
   - All Rights Reserved
   - You may use and modify this code under the terms of the Kuali, Inc.
   - Pre-Release License Agreement. You may not distribute it.
   -
   - You should have received a copy of the Kuali, Inc. Pre-Release License
   - Agreement with this file. If not, please write to license@kuali.co.
 -->
<xs:schema xmlns:subcontract="http://subcontractFdpReports.bean.xml.utils.coeus.mit.edu/subcontract"
           xmlns:award="http://subcontractFdpReports.bean.xml.utils.coeus.mit.edu/award"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="http://subcontractFdpReports.bean.xml.utils.coeus.mit.edu/subcontract"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- import section -->
    <xs:import namespace="http://subcontractFdpReports.bean.xml.utils.coeus.mit.edu/award" schemaLocation="awardNotice_coeus.xsd"/>

    <xs:element name="SubContractData">
        <xs:annotation>
            <xs:documentation>SubContractData</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Award" type="award:AwardType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="SubcontractDetail" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SubcontractorName" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="StartDate" type="xs:date" nillable="true" minOccurs="0"/>
                            <xs:element name="EndDate" type="xs:date" nillable="true" minOccurs="0"/>
                            <xs:element name="PHSFCOI" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FFATA" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ModificationType" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="Comments" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="SiteInvestigator" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="SiteInvestigatorEmail" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FsrsSubawardNumber" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="SubcontractorOrgRolodexDetails" type="subcontract:RolodexDetailsType" nillable="true" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PrintRequirement" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SignatureRequired" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ImageCheckedPath" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ImageUncheckedPath" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="Attachment2Required" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="Attachment3Required" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="Attachment3ARequired" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="Attachment3BRequired" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="Attachment3BPage2Required" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="Attachment4Required" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="Attachment4ARequired" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="Attachment5Required" type="xs:string" nillable="true" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SubcontractAmountInfo" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ObligatedAmount" type="xs:decimal" nillable="true" minOccurs="0"/>
                            <xs:element name="ObligatedChange" type="xs:decimal" nillable="true" minOccurs="0"/>
                            <xs:element name="ObligatedChangeDirect" type="xs:decimal" nillable="true" minOccurs="0"/>
                            <xs:element name="ObligatedChangeIndirect" type="xs:decimal" nillable="true" minOccurs="0"/>
                            <xs:element name="AnticipatedAmount" type="xs:decimal" nillable="true" minOccurs="0"/>
                            <xs:element name="Rate" type="xs:decimal" nillable="true" minOccurs="0"/>
                            <xs:element name="PerformanceStartDate" type="xs:date" nillable="true" minOccurs="0"/>
                            <xs:element name="PerformanceEndDate" type="xs:date" nillable="true" minOccurs="0"/>
                            <xs:element name="ModificationNumber" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ModificationEffectiveDate" type="xs:date" nillable="true" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PrimePrincipalInvestigator" type="subcontract:PersonDetailsType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="SubcontractTemplateInfo" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="InvoiceOrPaymentContactCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="IrbIacucContactCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FinalStmtOfCostsContactCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ChangeRequestsContactCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="TerminationContactCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="NoCostExtensionContactCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="CopyRights" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="CopyRightsDescription" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="AutomaticCarryForward" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="TreatmentPrgmIncomeAdditive" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="RAndD" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FcioSubrecPolicyCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="AnimalFlag" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="AnimalPteSendCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="AnimalPteNrCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="HumanFlag" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="HumanPteSendCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="HumanPteNrCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="HumanDataExchangeAgreeCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="HumanDataExchangeTermsCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="MpiAward" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="MpiLeadershipPlan" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="AdditionalTerms" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="TreatmentOfIncome" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="DataSharingAttachment" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="DataSharingCd" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FinalStatementDueCd" type="xs:string" nillable="true" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="OtherConfigInfo" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FdpNihPolicy" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNihGrantsPolicyStatement" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNihInterimResearchTerms" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNihAgencyRequirements" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNihFCoiGuidance" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNihCfr" type="xs:string" nillable="true" minOccurs="0"/>

                            <xs:element name="FdpNsfPolicy" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNsfGrantsPolicyStatement" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNsfInterimResearchTerms" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNsfAgencyRequirements" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNsfFCoiGuidance" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNsfCfr" type="xs:string" nillable="true" minOccurs="0"/>

                            <xs:element name="FdpNasaPolicy" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNasaGrantsPolicyStatement" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNasaInterimResearchTerms" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNasaAgencyRequirements" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNasaFCoiGuidance" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpNasaCfr" type="xs:string" nillable="true" minOccurs="0"/>

                            <xs:element name="FdpOnrPolicy" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpOnrGrantsPolicyStatement" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpOnrInterimResearchTerms" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpOnrAgencyRequirements" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpOnrFCoiGuidance" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpOnrCfr" type="xs:string" nillable="true" minOccurs="0"/>

                            <xs:element name="FdpAroPolicy" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAroGrantsPolicyStatement" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAroInterimResearchTerms" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAroAgencyRequirements" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAroFCoiGuidance" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAroCfr" type="xs:string" nillable="true" minOccurs="0"/>

                            <xs:element name="FdpAfosrPolicy" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAfosrGrantsPolicyStatement" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAfosrInterimResearchTerms" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAfosrAgencyRequirements" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAfosrFCoiGuidance" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAfosrCfr" type="xs:string" nillable="true" minOccurs="0"/>

                            <xs:element name="FdpEpaPolicy" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpEpaGrantsPolicyStatement" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpEpaInterimResearchTerms" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpEpaAgencyRequirements" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpEpaFCoiGuidance" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpEpaCfr" type="xs:string" nillable="true" minOccurs="0"/>

                            <xs:element name="FdpAmrmcPolicy" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAmrmcGrantsPolicyStatement" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAmrmcInterimResearchTerms" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAmrmcAgencyRequirements" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAmrmcFCoiGuidance" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAmrmcCfr" type="xs:string" nillable="true" minOccurs="0"/>

                            <xs:element name="FdpAmraaPolicy" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAmraaGrantsPolicyStatement" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAmraaInterimResearchTerms" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAmraaAgencyRequirements" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAmraaFCoiGuidance" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpAmraaCfr" type="xs:string" nillable="true" minOccurs="0"/>

                            <xs:element name="FdpUsdaPolicy" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpUsdaGrantsPolicyStatement" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpUsdaInterimResearchTerms" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpUsdaAgencyRequirements" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpUsdaFCoiGuidance" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="FdpUsdaCfr" type="xs:string" nillable="true" minOccurs="0"/>

                            <xs:element name="FdpSubawardBilateralAgreements" type="xs:boolean" nillable="true" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SubcontractReports" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ReportTypeCode" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ReportTypeDescription" type="xs:string" nillable="true" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PrimeAdministrativeContact"  minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ContactTypeCode" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ContactTypeDesc" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="CoiContactEmail" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="RolodexDetails" type="subcontract:RolodexDetailsType" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PrimeFinancialContact"  minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ContactTypeCode" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ContactTypeDesc" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="InvoicesEmailed" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="InvoiceEmailDifferent" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="InvoiceAddressDifferent" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="RolodexDetails" type="subcontract:RolodexDetailsType" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PrimeAuthorizedOfficial"  minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ContactTypeCode" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ContactTypeDesc" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="CentralEmail" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="RolodexDetails" type="subcontract:RolodexDetailsType" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="AdministrativeContact"  minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SubcontractCode" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="SequenceNumber" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ContactTypeCode" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ContactTypeDesc" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="RolodexDetails" type="subcontract:RolodexDetailsType" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FinancialContact"  minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SubcontractCode" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="SequenceNumber" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ContactTypeCode" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ContactTypeDesc" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="RolodexDetails" type="subcontract:RolodexDetailsType" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="AuthorizedOfficial"  minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SubcontractCode" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="SequenceNumber" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ContactTypeCode" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="ContactTypeDesc" type="xs:string" nillable="true" minOccurs="0"/>
                            <xs:element name="RolodexDetails" type="subcontract:RolodexDetailsType" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PrimeRecipientContacts" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="OrgRolodexDetails" type="subcontract:RolodexDetailsType" minOccurs="0"/>
                            <xs:element name="RequisitionerOrgDetails" type="subcontract:OrganizationType" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="RolodexDetailsType">
        <xs:sequence>
            <xs:element name="RolodexName" type="xs:string" nillable="true" minOccurs="0"/>
            <xs:element name="Address1" type="xs:string" nillable="true" minOccurs="0"/>
            <xs:element name="Address2" type="xs:string" nillable="true" minOccurs="0"/>
            <xs:element name="Address3" type="xs:string" nillable="true" minOccurs="0"/>
            <xs:element name="Fax" type="xs:string" nillable="true" minOccurs="0"/>
            <xs:element name="Email" type="xs:string" nillable="true" minOccurs="0"/>
            <xs:element name="City" type="xs:string" nillable="true" minOccurs="0"/>
            <xs:element name="StateDescription" type="xs:string" nillable="true" minOccurs="0"/>
            <xs:element name="Pincode" type="xs:string" nillable="true" minOccurs="0"/>
            <xs:element name="PhoneNumber" type="xs:string" nillable="true" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganizationType">
        <xs:sequence>
            <xs:element name="OrganizationName" type="xs:string" minOccurs="0"/>
            <xs:element name="ContactAddressId" type="xs:int" minOccurs="0"/>
            <xs:element name="CongressionalDistrict" type="xs:string" minOccurs="0"/>
            <xs:element name="FedralEmployerId" type="xs:string" minOccurs="0"/>
            <xs:element name="DunsNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PersonDetailsType">
        <xs:sequence>
            <xs:element name="FullName" type="xs:string" minOccurs="0"/>
            <xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
            <xs:element name="AddressLine1" type="xs:string" minOccurs="0"/>
            <xs:element name="AddressLine2" type="xs:string" minOccurs="0"/>
            <xs:element name="AddressLine3" type="xs:string" minOccurs="0"/>
            <xs:element name="City" type="xs:string" minOccurs="0"/>
            <xs:element name="State" type="xs:string" minOccurs="0"/>
            <xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
            <xs:element name="FaxNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="MobilePhoneNumber" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>